@model vizualizacao_saldo.Saldo

@{
    ViewData["Title"] = "Details";
}

<h1>Dados do Cadastro</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Saldo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a> |
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>

</div>
